*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 80%;
    margin: 20px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
    font-size: 28px;
    justify-content: space-between;
    align-items: center;

}
.navbar li{
    list-style-type: none;
}
.navbar li a {
    text-decoration: none;
    color: #7B5244;
    font-size: 18px;
}
.shopping{
    position: relative;
}
.zero{
    position: absolute;
    right: -10px;
    bottom: -15px;
    font-size: 22px;
    color: rgb(195, 45, 45);
}
.navbar{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.navbar-icons {
    width: 15%;
    display: flex;
    justify-content: space-around;
}
/* //////////////////// navbar ///////////////// */
.slider img{
    width: 100%;
    }
.slider{
    margin: 20px auto;
}
/* /////////////////// hero image ///////////////// */
.line{
    width: 10%;
    height: 3px;
    background-color: #7B5244;
    margin: 15px auto;
    transition: width 1s;
}
.category-header:hover .line{
    width: 15%;
}
.category{
    font-size: 22px;
    text-align: center;
}
.category-item{
    display: flex;
}
.category-content{
    text-align: start;
    width: 25%;
    padding: 10px;
    font-size: 18px;
    position: relative;
}
.category-content img{
    width: 100%;
    margin-bottom: 15px;
}
.category-content i {
    color: rgb(104, 1, 1);
    font-size: 30px;
    padding: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}
.one:hover .one-icon{
    display: block;
}
.two:hover .two-icon {
    display: block;
}
.three:hover .three-icon{
    display: block;
}
.four:hover .four-icon{
    display: block;
}
/* /////////////// discount ///////////////////////////// */
.discounts{
    display: flex;
    margin-top: 30px;
}

.astrid{
    width: 50%;
    background-color: #F7F3EF;
    padding: 20px;
    position: relative;
}
.astrid P{
    font-size: 16px;
    margin-bottom: 10px;
}
.astrid h5{
    font-size: 22px;
}

.discount-item{
    width: 25%;
    position: relative;
    padding: 0 10px;
    transition: transform 1s;
}
.discount-item:hover{
    transform: scale(1.1,1.1);
}
.discount-item img{
    width: 100%;
}
.discount-content{
    position: absolute;
    top: 20px;
    left: 25px;
    font-size: 22px;
}
/* //////////////// delivery ////////////////////// */
.delivery{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    text-align: center;
}
.delivery-item .img{
    width: 43px;
    height: 45px;
    background-image: url(../Images/service-icon.png);
    margin: auto;
}
.delivery-item {
    width: 20%;
}
.delivery-item h6{
    font-size: 16px;
}
.v-l{
    
    border-right: 2px solid #7B5244;
}
/* ///////////////// line /////////////// */
.line-hr{
    width: 100%;
    height: 2px;
    background-color: #7B5244;
    margin-top: 60px;
}
/* ////////////////// product ////////////////// */
.product{
    margin-top: 100px;

}
.product-header{
    text-align: center;
    font-size: 30px;
}
.product-header:hover .line{
    width: 15%;
}
.product-content{
    margin: 40px auto;
    width: 50%;
    display: flex;
    justify-content:space-between;
    font-size: 18px;
}
.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-item{
    width: 30%;
    margin-top: 20px;
}
.product-item i{
    color: #7B5244;
}
.product-item img {
    width: 100%;
}
.product-img{
    position: relative;
}
.overley{
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0,1);
    opacity: 0;
    transition: all .2s;
}
.overley-icons{
    width: 50%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 28px;
}
.overley-icons i {
    padding: 5px;
    background-color: #f7f4ef;
    border-radius: 50%;
}
.product-item:hover .overley{
    transform: scale(1,1);
    opacity: 0.9;
}